<div class="text-center">
  <h1>Mes voitures</h1>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
    </div>
  </div>
</div> -->


<div class="container">
  <ul class="list-unstyled">
    <% @user.cars.each do |car| %>
      <li>
        <div class="card-car">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
              <div class="card-car-img">
                <div class="add_photo_overlay">
                  <div class="card-car-add-photo-btn">
                    <%= link_to "Ajouter une photo", "#", class: "btn btn-success" %>
                  </div>
                  <div class="card-car-price">
                    <div><%= car.price %> €</div>
                    <div class="card-car-price-label">/ jour</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7">
              <div class="card-car-title"><%= car.brand %> <%= car.model %></div>
              <%= car.address %>
              <hr class="card-car-separator">
              <%=link_to "Edit", "#", class: "btn btn-info" %>
              <%= link_to "Delete", "#", class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
