<div class="container">
  <div  class='tab-content' id="myprofile">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3><%= @user.name %></h3>
        <p><%= @user.email %></p>
        <p><%= @user.first_name %></p>

        <% if current_user.photo&.path != nil %>
          <%= cl_image_tag current_user.photo&.path, class: "avatar" %>
        <% else %>
          <%= image_tag "unknown_user.png", class: "avatar" %>
        <% end %>

        <%# link_to "", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <%= link_to "#", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" do %>
          <i class="fa fa-trash"></i> Supprimer le profil
        <% end %>
        <%= link_to raw('<i class="fa fa-github-alt"></i> Back to users'), root_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
