<div class="container">
  <div  class='tab-content hidden' id="myprofile">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 ">
        <h3><%= @user.name %></h3>
        <p><%= @user.email %></p>
        <p><%= @user.first_name %></p>

        <% if current_user.photo&.path != nil %>
          <%= cl_image_tag current_user.photo&.path, class: "avatar" %>
        <% elsif current_user.picture %>
          <%= image_tag current_user.picture, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% else %>
          <%= image_tag "unknown_user.png", class: "avatar" %>
        <% end %>

        <%= link_to raw('<i class="fa fa-github-alt"></i> Accueil'), root_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
