<div class="container">
  <div class='tab-content hidden' id="myrents">
    <ul class="list-unstyled">
      <% @rents.each do |rent| %>
        <li>
          <div class="card-car">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                <% if rent.car.photo == nil %>
                <div class="card-car-img" style="background-image:url('<%= (cl_image_path rent.car.photo&.path) != '' ? cl_image_path(car.photo&.path) : asset_path('temp_car_photo.png'); %>')">
                  <div class="add_photo_overlay">
                    <div class="card-car-add-photo-btn">
                      <%= link_to "Ajouter une photo", "#", class: "btn btn-success card-car-btn trigger", id: "trigger_#{rent.car.id}" %>
                      <%= simple_form_for rent.car do |f| %>
                        <%= f.error_notification %>
                        <%= f.input :photo, as: :attachinary, label_html: {class: "hidden"}, input_html: {class: "hidden", id: "upload_#{rent.car.id}"} %>
                        <%= f.button :submit, 'OK', class: "btn btn-success card-car-btn small-btn " %>
                      <% end %>
                    </div>
                    <div class="card-car-price">
                      <div><%= rent.car.price %> €</div>
                      <div class="card-car-price-label">/ jour</div>
                    </div>
                  </div>
                </div>
                <% else %>
                <div class="card-car-img" style="background-image:url('<%= cl_image_path rent.car.photo&.path %>')">
                  <div class="add_photo_overlay">
                    <div class="card-car-price">
                      <div><%= rent.car.price %> €</div>
                      <div class="card-car-price-label">/ jour</div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                <div class="card-car-title">
                  <h3><%= rent.car.brand %> <%= rent.car.model %></h3>
                  <%= rent.car.address %>
                </div>
                <div>Propriétaire : <%= rent.car.user.name %></div>
                <hr class="card-car-separator">
                location de <%= rent.date_start %> à <%= rent.date_end %> 
                 <div classe="prix" style="position:absolute; right: 39px; top: 10px;">
                  <h4>Prix Total </h4>
                  <p>  <%= rent.total_price %>€</p>
                </div>
            
                <hr class="card-car-separator">
                Statut : <%= rent.status.nil? ? "En attente de réponse de #{rent.car.user.name}" : rent.status %> 
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
