<div class="container">
  <div class='tab-content hidden' id="mybooking">
    <ul class="list-unstyled">
      <% @rents_on_my_cars.each do |rent| %>
        <li>
          <div class="card-car">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                <% if rent.car.photo == nil %>
                <div class="card-car-img" style="background-image:url('<%= (cl_image_path rent.car.photo&.path) != '' ? cl_image_path(car.photo&.path) : asset_path('temp_car_photo.png'); %>')">
                  <div class="add_photo_overlay">
                    <div class="card-car-add-photo-btn">
                      <%= link_to "Ajouter une photo", "#", class: "btn btn-success card-car-btn trigger", id: "trigger_#{rent.car.id}" %>
                      <%= simple_form_for rent.car do |f| %>
                        <%= f.error_notification %>
                        <%= f.input :photo, as: :attachinary, label_html: {class: "hidden"}, input_html: {class: "hidden", id: "upload_#{rent.car.id}"} %>
                        <%= f.button :submit, 'OK', class: "btn btn-success card-car-btn small-btn " %>
                      <% end %>
                    </div>
                    <div class="card-car-price">
                      <div><%= rent.car.price %> €</div>
                      <div class="card-car-price-label">/ jour</div>
                    </div>
                  </div>
                </div>
                <% else %>
                <div class="card-car-img" style="background-image:url('<%= cl_image_path rent.car.photo&.path %>')">
                  <div class="add_photo_overlay">
                    <div class="card-car-price">
                      <div><%= rent.car.price %> €</div>
                      <div class="card-car-price-label">/ jour</div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
                <div class="card-car-title"><h3><%= rent.car.brand %> <%= rent.car.model %></h3></div>
                <%= rent.car.address %>
                <hr class="card-car-separator">
                <!-- TODO display infos about user who wants to rent your car -->

                <hr class="card-car-separator">
                <% if rent.status.nil? %>
                  <ul class="list-unstyled list-inline">
                    <li>
                      <%= simple_form_for rent do |f| %>
                        <%= f.input :status, as: :hidden, input_html: {value: "accepted"} %>
                        <%= f.submit "Accepter", class: "btn btn-info card-car-btn" %>
                      <% end %>
                    </li>
                    <li>
                      <%= simple_form_for rent do |f| %>
                        <%= f.input :status, as: :hidden, input_html: {value: "declined"} %>
                        <%= f.submit "Refuser", class: "btn btn-danger card-car-btn" %>
                      <% end %>
                    </li>
                  </ul>
                <% elsif rent.status == "accepted" %>
                  Statut : accepté - <%= rent.user.name %> vous sollicite pour une location de cette voiture le <%= rent.date_start.strftime("%d/%m/%Y") %>
                <% end %>

              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
