<div id="user-wrapper">
  <div class="profile-header-wrapper">
    <div class="container profile-header-container text-center">
      <div class="profile-header-infos">
        <h2>Tableau de bord</h2>
      </div>

      <div class="tabs">
        <a class="tab active" id="mycars-target" data-target="#mycars">
          <h3>Mes voitures</h3>
        </a>
        <a class="tab" data-target="#mybooking" id="mybooking-target">
          <h3>Réservations sur mon garage<%= @rents_on_my_cars.count > 0 ? " - (#{@rents_on_my_cars.count})" : "" %></h3>
        </a>
        <a class="tab" data-target="#myrents" id="myrents-target">
          <h3>Mes locations</h3>
        </a>
        <a class="tab" data-target="#myprofile" id="myprofile-target">
          <h3>Mon profil</h3>
        </a>
      </div>
    </div>
  </div>

  <% if current_user == @user %>
  	<%= render 'my_cars' %>
    <%= render 'rents_on_my_cars' %>
    <%= render 'my_rents' %>
	  <%= render 'my_profile' %>
  <% else %>
    <%= render 'public_profile' %>
  <% end %>
</div>
