<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @car do |f| %>
        <%= f.error_notification %>
        <%= f.input :brand, collection: Car::CATEGORIES, prompt: "Selectionner la marque", label: false %>
        <%= f.input :model, label: 'Modèle' %>
        <%= f.input :address, label: 'Adresse' %>
        <%= f.input :price, label: 'Prix par jour' %>
        <%= f.input :description %>
        <%= f.input :engin, collection: ['Essence', 'Diesel'], label: 'Type de moteur :' %>
        <%= f.input :photo, as: :attachinary %>
        <%= f.button :submit, 'Ajouter ma voiture !', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
