

<div class="fomulaire">
	<%= form_tag(cars_path, method: :get,class: 'form-inline' ) do %>
      <input type="text" class="form-control input-lg datepicker" placeholder="Debut" name="date_start" value="<%= params[:date_start] %>">
      <input type="text" class="form-control input-lg datepicker" placeholder="Fin" name="date_end" value="<%= params[:date_end] %>">
      <%= text_field_tag(:address, nil, placeholder:"#{params[:address]}", class: 'form-control input-lg') %>
      <%= submit_tag 'Search', class: "btn btn-success btn-lg", value: "Search" %>
    <% end %>
</div>

<div class="container">
	<div class="row col">
		<div class="cards">

		<% @cars.each do |car| %>

				<div class="col-xs-12 col-sm-3">
					<div class="card">
						<%= link_to car_path(car, date_start: params[:date_start], date_end: params[:date_end] ) do %>
						<div class="card-body">
							<div class="card-picture" style="background-image: url('<%= car.photo ? cl_image_path(car.photo.path) : asset_path('temp_car_photo.png') %>')">
								<div class="card-hover">
									<h4><%= car.brand.capitalize %></h4>
									<p><%= car.model %></p>
									<p><%= car.km%>KM <%= car.year %></p>
									<p><%= car.engin %></p>
								</div>
							</div>
							<div class="card-likes">
								<ul class="list-inline">
									<li><i class="fa fa-map-marker"></i> <%= car.address %></li>
									<li><i class="fa fa-money"></i><%= car.price %>€/j</li>
								</ul>
							</div>
						</div>
						<div class="card-footer">
            <% if current_user.photo&.path != nil %>
              <%= cl_image_tag current_user.photo&.path, class: "avatar" %>
            <% else %>
              <%= image_tag "unknown_user.png", class: "avatar" %>
            <% end %>
            <!--  safe condition if car without user -->
						<% if car.user != nil %>
              <%= car.user.email %>
            <% end %>
						</div>
						<% end %>
					</div>
				</div>


		<% end %>
	</div>
	</div>
</div>

